@mixin title {
  position: relative;
  font-family: Parisienne-Regular;
  font-size: 4.8em;
  display: inline-block;
  position: relative;
  &::after {
    position: absolute;
    content: "";
    width: 20%;
    background-color: $primary-color;
    height: 2px;
    bottom: 0;
    left: 0;
  }
}
