// Color Variables
$black: #000000;
$white: #ffffff;
$green: #15a434;

$light-grey: #f9f9f9;
$mid-grey: #ebebeb;
$dark-grey: #414141;

$primary-color: #e84646;
// Assets Path

$fontPath: "../../../assets/fonts";
$imagesPath: "../../../assets/images";
