.primary-button {
  color: $white;
  background-color: $primary-color;
  font-family: Roboto-Regular;
  padding: 8px 45px;
  font-size: 1.8em;
  border-radius: 30px;
  border-top-right-radius: 0px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    z-index: 1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

.btn-block {
  width: 100%;
}
